body {
    margin: 0;
    background-color: black;
    color: white;
}

h2 {
    font-size: 200%;
}

p {
    font-size: 110%;
}
/* Header */

header > h1 {
    text-align: center;
}

#menu {
    font-size: 100%;
    width: 80%;
    margin: 0 auto;
    padding: 0;
}

#menu li {
    text-align: center;
    list-style-type: none;
    display: inline-block;
    margin-left: 15%;
    padding: 15px 0 15px 0;
}

li a {
    color: white;
}

li a:hover {
    font-size: 130%;
    color: #aa3456;
}

header hr {
    margin-left: 30px;
    margin-right: 30px;
}

/* Gameboy Image */

#gameboy-image img {
    width: 100%;
    margin: 0 auto;
}

/* About Tetris Section */

#about-tetris {
    margin-left: 30px;
    margin-right: 30%;
}

/* Tetris Facts */

#tetris-facts {
    display: inline;
    position: relative;
    top: -463px;
    float: right;
    width: 25%;
    height: 450px;
    background-color: orange;
    color: black;
    border: 2px solid black;
    margin-right: 30px;
    padding-right: 5px; 
    font-size: 120%;
}

#tetris-facts > h2 {
    text-align: center;
}

/* Footer */

footer { 
    height: 100px;
    min-width: 100%;
    text-align: center;
    display: block;
    position: absolute;
}

footer a {
    color: white;
    padding: 3%;
    font-size: 300%;
}

footer hr {
    margin-left: 30px;
    margin-right: 30px;
}



