@import url('https://fonts.googleapis.com/css2?family=Play&family=Press+Start+2P&display=swap');

body {
    font-family: 'Play', sans-serif;
    font-weight: 400;
    margin: 0;
    background-color: black;
    color: white;
}
h1, h2, h3 {
    font-family: 'Press Start 2P', cursive;
    font-weight: 400;
}

h1 {
    font-size: 300%;
}

p {
    font-size: 110%;
}
/* Header */

header > h1 {
    text-align: center;
    top: 200px;
}

#tetris-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#menu {
    font-size: 150%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 7.5%;
}

#menu li {
    text-align: center;
    list-style-type: none;
    display: inline-block;
    margin-left: 7.5%;
    margin-right: 7.5%;
    padding: 5px 0 5px 0;
}

li a {
    color: white;
}

li a:hover {
    color: #aa3456;
}

header hr {
    margin-left: 30px;
    margin-right: 30px;
}

/* Gameboy Image */

#gameboy-image img {
    width: 100%;
    margin: 0 auto;
}

/* About Tetris Section */

#about-tetris {
    margin-left: 30px;
    margin-right: 30%;
}

#about-tetris h2 {
    font-size: 250%
}

/* Tetris Facts */

#tetris-facts {
    display: inline;
    position: relative;
    top: -463px;
    float: right;
    width: 25%;
    height: 450px;
    background-color: orange;
    color: black;
    border: 2px solid black;
    margin-right: 30px;
    padding-right: 5px; 
    padding-bottom: 50px;
    font-size: 120%;
    border-radius: 30px;
}

#tetris-facts > h2 {
    text-align: center;
    font-size: 200%;
}

#tetris-facts ul {
    padding-bottom: 50px;
}

.facts {
    padding: 5px;
}

/* Footer */

footer { 
    height: 100px;
    min-width: 100%;
    text-align: center;
    display: block;
    position: absolute;
}

footer a {
    color: white;
    padding: 3%;
    font-size: 300%;
}

footer div {
    margin-left: -150px;
    margin-right: auto;
    display: inline;
}

footer hr {
    margin-left: 30px;
    margin-right: 30px;
}

footer p {
    font-size: 70%;
    float: left;
    width: 150px;
    margin-left: 50px;
}

footer p a {
    padding: 0px;
    font-size: 100%;
}


/* Copyright Page */

section {
    margin-left: 30px;
    margin-right: 30px;
}

section h2 {
    font-size: 250%;
}

.image-right {
    float: right;
}

.image-left {
    float: left;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

#electronica-60 {
    height: 35%;
    width: 35%;
    padding-left: 10px;
}

#ibm-pc {
    padding-right: 10px;
    height: 35%;
    width: 35%;
}

#tetris-on-gameboy {
    height: 25%;
    width: 25%;
    padding-bottom: 10px;
    padding-left: 10px;
}

#arcade {
    height: 32%;
    width: 32%;
    padding-right: 10px;
    padding-bottom: 10px;
}

#tengen {
    height: 20%;
    width: 20%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

#nes {
    height: 20%;
    width: 20%;
    padding-right: 10px;
    padding-bottom: 10px;
}

/* High Scores Page */

table, tr, td, th {
    border: 1px solid white;
}
