@import url('https://fonts.googleapis.com/css2?family=Play&family=Press+Start+2P&display=swap');

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Play', sans-serif;
    font-weight: 400;
    background-color: black;
    color: white;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3 {
    font-family: 'Press Start 2P', cursive;
    font-weight: 400;
}

h1 {
    font-size: 300%;
}

p {
    font-size: 110%;
}

/* Header */

header>h1 {
    text-align: center;
    top: 200px;
}

#tetris-logo {
    display: block;
    text-align: center;
}

#menu {
    font-size: 150%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 7.5%;
}

#menu li {
    text-align: center;
    list-style-type: none;
    display: inline-block;
    margin-left: 7.5%;
    margin-right: 7.5%;
    padding: 5px 0 5px 0;
}

li a {
    color: white;
}

li a:hover {
    color: #aa3456;
}

header hr {
    margin-left: 30px;
    margin-right: 30px;
}

/* Gameboy Image */

#gameboy-image img {
    width: 100%;
    margin: 0 auto;
}

/* About Tetris Section */

#about-tetris {
    margin-left: 30px;
    margin-right: 30%;
    font-size: 1.2em;
}

#about-tetris h2 {
    font-size: 250%;
}

/* Tetris Facts */

#tetris-facts {
    display: inline;
    position: relative;
    top: -463px;
    float: right;
    width: 25%;
    height: 450px;
    background-color: orange;
    color: black;
    border: 2px solid black;
    margin-right: 30px;
    padding-right: 5px;
    padding-bottom: 50px;
    font-size: 1.2em;
    border-radius: 30px;
}

#tetris-facts>h2 {
    text-align: center;
    font-size: 200%;
}

#tetris-facts ul {
    padding-bottom: 50px;
}

#tetris-facts ul li {
    padding: 10px;
}

#tetris-facts ul li:last-child {
    margin-bottom: 20px;
}

.facts {
    padding: 5px;
}

#youtube {
    margin: 70px 70px 30px;
}

#spotify {
    float: right;
    position: relative;
    top: -385px;
    right: -360px;
    margin: 60px 50px 70px;
}
/* Footer */

footer {
    height: 100px;
    min-width: 100%;
    text-align: center;
    display: block;
    position: absolute;
}

footer a {
    color: white;
    padding: 3%;
    font-size: 300%;
}

footer div {
    margin-left: -150px;
    margin-right: -150px;
    display: inline;
}

footer hr {
    margin-left: 30px;
    margin-right: 30px;
}

#mailing-list {
    font-size: 70%;
    float: left;
    width: 150px;
    margin-left: 50px;
}

footer p a {
    padding: 0px;
    font-size: 100%;
}

.wrapper {
    min-height: 0;
    margin-bottom: -100px;
}

.footer, .push {
    height: 100px;
}

#disclaimer {
    font-size: 60%;
    float: right;
    width: 150px;
    margin-right: 50px;
    top: 100px;
}

/* Copyright Page */

section {
    margin-left: 30px;
    margin-right: 30px;
}

section h2 {
    font-size: 250%;
}

.image-right {
    float: right;
}

.image-left {
    float: left;
}

.text {
    width: 60%;
    margin: 0 auto;
    font-size: 1.2em;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

#electronica-60 {
    width: 50%;
    padding-left: 10px;
}

#ibm-pc {
    padding-right: 10px;
    width: 50%;
}

#tetris-on-gameboy {
    width: 30%;
    padding-bottom: 10px;
    padding-left: 10px;
}

#arcade {
    width: 34%;
    padding-right: 10px;
    padding-bottom: 10px;
}

#tengen {
    width: 28%;
    padding: 0px 20px 10px 10px;
}

#nes {
    width: 28%;
    padding: 10px;
}

/* High Scores Page */

table,
tr,
td,
th {
    border: 1px solid white;
}

#championship {
    width: 53%;
    float: left;
    position: relative;
    margin-right: 30px;
}

#rolling {
    width: 50%;
    float: right;
    margin: 0px 0px 30px 10px;
    top: -30px;
}

#youtube-scores {
    width: 90%;
    margin: 0 auto;
}

#youtube-scores iframe {
    width: 100%;
}

/* Sign Up Page */

.relative {
    position: relative;
}

#signup-heading {
    background-color: rgba(43, 137, 204, 0.63);
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    margin: 0 auto;
    text-align: center;
    
}

.signup-background {
    width: 100%;
    margin: 0 auto;
    opacity: 0.6;
    z-index: 1;
    display: flex;
}

#tetris-background {
    width: 100%;
}

.form {
    background-color: rgba(43, 137, 204, 0.5);
    width: 50%;
    height: fit-content;
    z-index: 3;
    font-size: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: 150px auto auto auto;
}

form label {
    display: block;
    padding: 5px;
}

form select {
    font-size: 70%;
}

form input {
    font-size: 64%;
    margin-bottom: 8px;
}

form button {
    display: block;
    padding: 10px;
    margin: 10px auto;
    border-radius: 10px;
}

form button:hover {
    background-color: orange;
    font-weight: bold;
}

form button:nth-child(odd) {
    margin-top: 25px;
}

/* Timeline Page */

#timeline-header {
    text-align: center;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
}

.container:first-child {
    padding-top: 0;
}

.timeline {
    width: 80%;
    height: auto;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}

.timeline ul {
    list-style: none;
}

.timeline ul li {
    padding: 20px;
    background-color: #aa3456;
    border-radius: 10px;
    margin-bottom: 20px;
}

.timeline ul li:last-child {
    margin-bottom: 0;
}

.timeline-content h1 {
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 0;
}

.timeline-content p {
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
}

.timeline-content .date {
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 1px;
}

.timeline-content img {
    float: right;
    position: relative;
    display: block;
    margin: 20px;
    padding-top: 20px;
}

#electronica-timeline {
    width: 170px;
    height: 170px;
}

#ibm-timeline {
    width: 200px;
    height: 126px;
}

#c64-timeline {
    width: 150px;
    height: 215px;
}

#gameboy-timeline {
    width: 170px;
    height: 170px;
}

#tengen-timeline {
    width: 150px;
    height: 212px;
}

#nes-timeline {
    width: 150px;
    height: 206px;
}

#snes-timeline {
    width: 200px;
    height: 140px;
}

#magical-timeline {
    width: 180px;
    height: 169px;
}

#party-timeline {
    width: 150px;
    height: 211px;
}

#puyo-timeline {
    width: 150px;
    height: 242px;
}

#tetris-99-timeline {
    width: 150px;
    height: 242px;
}

#effect-timeline {
    width: 170px;
    height: 211px;
}

@media only screen and (min-width: 768px) {
    .timeline::before {
        content: '';
        position: absolute;
        height: 100%;
        width: 2px;
        left: 50%;
        transform: translateX(-50%);
        background-color: white;
    }

    .timeline ul li {
        width: 50%;
        margin-bottom: 50px;
        position: relative;
    }

    .timeline ul li:nth-child(odd) {
        float: left;
        clear: right;
        transform: translateX(-100px);
        border-radius: 20px 0px 20px 20px;
    }
    
    .timeline ul li:nth-child(even) {
        float: right;
        clear: left;
        transform: translateX(60px);
        border-radius: 0px 20px 20px 20px;
    }

    .timeline ul li::after {
        content: '';
        position: absolute;
        height: 20px;
        width: 20px;
        background-color: white;
        border-radius: 50%;
        top: 0;
    }

    .timeline ul li:nth-child(odd)::after {
        transform: translate(50%, -50%);
        right: -40px;
    }

    .timeline ul li:nth-child(even)::after {
        transform: translate(-50%, -50%);
        left: -40px;
    }

    .timeline ul li:hover::after{
        background-color: #aa3456;
    }

    .timeline-content .date {
        position: absolute;
        top: -30px;
    }
}


    /* Responsive */


    @media only screen and (min-width: 1474px) {
        #arcade {
            width: 18%;
        }

        #tetris-on-gameboy {
            width: 20%;
        }

        #nes {
            width: 15%;
        }

        #tengen {
            width: 15%;
        }
    }

    @media only screen and (min-width: 1669px) { 
        #nes {
            width: 11%;
        }

        #tengen {
            width: 11%;
        }

        #tetris-on-gameboy {
            width: 15%;
        }

        #arcade {
            width: 15%;
        }

        #electronica-60 {
            width: 25%;
        }
    }



    @media only screen and (max-width: 1474px) {
        #tetris-facts {
            font-size: 110%;
            padding-bottom: 70px;
        }

        #tetris-facts>h2 {
            margin-bottom: 0px;
        }

    }

    @media only screen and (max-width: 1300px) {

        #menu {
            width: unset;
            padding-left: 0px;
        }

        #tetris-facts {
            top: -500px;
            padding-bottom: 60px;
        }

        #spotify {
            right: -220px;
            width: unset;
            height: unset;
        }

        .spotify {
            width: 150%;
        }
    }


    @media only screen and (max-width: 1181px) {

        #tetris-facts {
            font-size: 100%;
        }

        #tetris-facts ul li {
            padding: 8px;
        }

        #youtube {
            margin-top: 50px;
        }

        .youtube {
            width: 500px;
        }
    }

    @media only screen and (max-width: 1060px) {

        #menu {
            font-size: 140%;
        }

        .spotify {
            width: 80%;   
        }

        #spotify {
            right: -330px;
        }

        #tetris-facts {
            top: -600px;
            padding-bottom: 130px;
            font-size: 110%;
        }

        .timeline-content img {
            margin: 7px;
        }
    }

    @media only screen and (max-width: 957px) {

        #tetris-facts {
            font-size: 100%;
        }

        #menu {
            font-size: 130%;
        }

        #menu li {
            margin-left: 11%;
            margin-right: unset;
        }

        .youtube {
            width: 400px;
        }

        #spotify {
            top: -370px;
        }

        #electronica-60 {
            width: 50%;
        }

        #ibm-pc {
            width: 50%;
        }

        #tetris-on-gameboy {
            width: 35%;
        }

        #arcade {
            width: 35%;
        }

        #tengen {
            width: 30%;
        }

        #nes {
            width: 30%;
        }
        .timeline-content img {
            margin: 7px 7px 0px;
        }

        #electronica-timeline {
            width: 66%;
        }

        #ibm-timeline {
            width: 90%;
            height: unset;
            margin: 0 auto;
            float: unset;
        }
    }

    @media only screen and (max-width: 896px) {
        #electronica-timeline {
            width: 90%;
            margin: 0 auto;
            float: none;
        }

        #nes-timeline {
            width: 139px;
            height: unset;
        }
    }

    @media only screen and (max-width: 864px) {
        #snes-timeline {
            width: 90%;
            height: unset;
            margin: 0 auto;
            float: none;
        }

        #party-timeline {
            width: 136px;
            height: unset;
        }

        #nes-timeline {
            width: 133px;
        }

        #effect-timeline {
            width: 158px;
            height: unset;
        }
    }

    @media only screen and (max-width: 830px) {
        
        #tetris-facts {
            top: -630px;
        }

        #effect-timeline {
            width: 150px;
        }

        #party-timeline {
            width: 120px;
        }

        #nes-timeline {
            width: 120px;
        }
    }

    @media only screen and (max-width: 800px) {
        
        #tetris-facts {
            font-size: 110%;
            display: block;
            position: unset;
            top: unset;
            float: unset;
            width: 80%;
            height: unset;
            margin-right: unset;
            padding-right: unset;
            padding-bottom: unset;
            margin: auto;
            margin-top: 30px;
        }

        #tetris-facts ul {
            padding-bottom: 0px;
        }

        #about-tetris {
            margin-right: 30px;
        }

        .youtube {
            width: 350px;
        }

        #spotify {
            right: -60px;
        }

        #tengen-timeline {
            width: 140px;
            height: unset;
        }

        #nes-timeline {
            width: 112px;
        }

        #party-timeline {
            width: 110px;
        }

        #effect-timeline {
            width: 137px;
        }
    }

    @media only screen and (max-width: 778px) {

        #nes-timeline {
            width: 108px;
        }
    }

    @media only screen and (max-width: 767px) {
    
        .timeline {
            width: 90%;
        }

        .timeline ul {
            padding-left: unset;
        }

        #electronica-timeline {
            width: 213px;
            height: 213px;
            margin: 0px 0px 0px 30px;
            float: right;
        }

        #ibm-timeline {
            width: 244px;
            height: 152px;
            margin: 0 0 0 30px;
            float: right;
        }

        #c64-timeline {
            width: 150px;
            height: 215px;
            position: relative;
            right: 20px;
            top: -15px;
            margin-left: 30px;
        }

        #tengen-timeline {
            position: relative;
            top: -25px;
            margin-top: 20px;
        }

        #nes-timeline {
            width: 127px;
            height: 182px;
            position: relative;
            top: -15px;
        }

        .padding-bottom {
            padding-bottom: 50px;
        }

        #snes-timeline {
            width: 199px;
            height: 139px;
            float: right;
            margin-left: 10px;
        }

        #magical-timeline {
            width: 170px;
            height: 160px;
            position: relative;
            top: -25px;
            margin-left: 10px;
        }

        #party-timeline {
            height: 195px;
            width: 139px;
            position: relative;
            top: -35px;
        }

        #puyo-timeline, #tetris-99-timeline {
            width: 118px;
            height: 192px;
            margin: 0 20px;
            position: relative;
            top: -5px;
        }
    }



    @media only screen and (max-width: 722px) {
        
        header>h1 {
            margin-bottom: 10px;
        }

        .spotify {
            margin-left: 10%;
            margin-top: 20px;
        }

        #spotify {
            float: unset;
            position: unset;
            margin: unset;
        }

        .youtube {
            width: 100%;
        }

        footer a {
            padding: 1%;
            top: 20px;
        }

        footer hr:last-child {
            margin-top: 20px;
        }

        #menu li {
            margin-left: 9%;
        }
        
        header hr {
            margin-left: 10px;
            margin-right: 10px;
        }

        footer hr {
            margin-left: 10px;
            margin-right: 10px;
        }

        #mailing-list {
            margin-left: 20px;
        }

        #disclaimer {
            margin-right: 20px;
        }

        section h2 {
            font-size: 210%;
        }

        .text {
            width: 80%;
        }

        #championship {
            margin-right: 20px;
        }

        #party-timeline {
            top: -15px;
        }
    }

    @media only screen and (max-width: 598px) {

        #menu {
            margin: 10px 8px 10px 0px;
        }

        #menu li {
            margin-left: 8%;
        }

        #mailing-list {
            font-size: 60%;
            width: 100px;
        }

        #disclaimer {
            font-size: 50%;
            width: 100px;

        }

        footer hr:last-child {
            margin-top: 10px;
        }

        #party-timeline {
            top: 0px;
        }

        #magical-timeline {
            position: unset;
        }
    }


    @media only screen and (max-width: 564px) {
        
        #electronica-timeline {
            margin: 0 auto;
            float: unset;
        }

        #ibm-timeline {
            float: unset;
            margin: 0 auto;
        }

        #magical-timeline {
            float: unset;
            margin: 0 auto;
        }
    }

    @media only screen and (max-width: 545px) {
        
        #menu {
            margin: 10px;
        }

        #menu li {
            display: block;
            margin: 0 auto;
        }

        #menu li a {
            text-decoration: none;
        }
        
        p {
            font-size: 100%;
        }

        #about-tetris {
            width: 87%;
        }

        #about-tetris h2 {
            font-size: 220%;
            margin-bottom: 20px;
        }

        #youtube {
            margin: 30px 20px 0px 20px;
        }

        footer a {
            font-size: 250%;
        }
        
        #mailing-list {
            font-size: 54%;
        }

        #disclaimer {
            font-size: 43%;
        }

        #electronica-60 {
            width: 60%;
        }

        #ibm-pc {
            width: 60%;
        }

        #tetris-on-gameboy {
            width: 40%;
        }

        #arcade {
            width: 40%;
        }

        #tengen {
            width: 35%;
        }

        #nes {
            width: 35%;
        }

        #championship {
            width: 60%;
        }

        section h2 {
            font-size: 200%;
        }

        #rolling {
            width: 58%;
        }
    }

    @media screen and (max-width: 499px) {
        section h2 {
            font-size: 167%;
        }

        #rolling {
            width: 100%;
            float: unset;
            margin: unset;
            top: unset;
        }

        .padding-bottom {
            padding-bottom: 0px;
        }

        #snes-timeline {
            position: unset;
            margin: 0 auto;
            float: unset;
        }

        .timeline-content h1 {
            text-align: center;
        }
    }


    @media only screen and (max-width: 445px) {

        #championship {
            width: 100%;
            margin-right: unset;
            margin-bottom: 20px;
        }

        #c64-timeline {
            position: unset;
            margin: 0 auto;
            float: unset;
        }

        #nes-timeline {
            float: unset;
            margin: 0 auto;
            position: unset;
        }

        #party-timeline{
            float: unset;
            margin: 0 auto;
        }

        .timeline-content p {
            font-size: 15px;
        }

        .timeline-content h1 {
            font-size: 24px;
        }

        #timeline-header {
            font-size: 241%;
        }
    }

    @media only screen and (max-width: 422px) {
        
        footer a {
            font-size: 200%;
        }

        #disclaimer {
            width: 90%;
            float: unset;
            margin: 0 auto;
            font-size: 60%;
            margin-top: 10px;
        }

        #mailing-list {
            width: 90%;
            float: unset;
            margin: 0 auto;
            margin-bottom: 10px;
            font-size: 70%;
        }

        footer a {
            font-size: 250%;
            padding: 10px;
            margin-top: 5px;
            margin-bottom: 5px;
        }

        header img {
            width: 90%;
        }

        section h2 {
            font-size: 150%;
        }

        #gameboy-timeline {
            float: unset;
            margin: 0 auto;
        }

        .timeline-content h1 {
            font-size: 1.3em;
        }


        #puyo-timeline, #tetris-99-timeline, #tengen-timeline, #effect-timeline {
            position: unset;
            float: unset;
            margin: 0 auto;
        }


    }


    @media only screen and (max-width: 360px) {
        
        
        header>h1 {
            font-size: 275%;
        }

        #tetris-logo {
            width: 90%;
            margin: 0 auto;
        }

        .text-right {
            text-align: left;
        }

        #electronica-60 {
            width: 90%;
        }

        #ibm-pc {
            width: 90%;
            margin-right: 10px;
        }

        #tengen {
            width: 50%;
        }

        #nes {
            width: 50%;
        }

        section h2 {
            font-size: 130%;
        }

        p {
            font-size: 18px;
        }

        #ibm-timeline {
            width: 100%;
        }

        #electronica-timeline {
            width: 194px;
            height: 170px;
        }

        .timeline-content h1 {
            font-size: 1.15em;
        }

        #timeline-header {
            font-size: 2em;
        }
    }


        @media only screen and (max-width: 325px) {
            .timeline-content h1 {
                font-size: 1.05em;
            }

            #electronica-timeline {
                width: 187px;
            }

            #snes-timeline {
                width: 185px;
                height: 132px;
            }

            header h1 {
                font-size: 260%;
            }
        }


